doctype html
html(lang='en', xmlns='http://www.w3.org/1999/html')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='./style/HeaderAndButton.css')
        link(rel='stylesheet', type='text/css', href='./style/ContainerForDevilopments.css')
        link(rel='stylesheet', type='text/css', href='./style/ForFooter.css')
        title Vino W
    body
        button#myBtn(onclick='topFunction()', title='Go to top') Top
        .header
            a(href='index.html') О нас
            a(href='menu.html') Карта вин
            a(href='index.html')
                img(src='./img/img01.jpg', alt='')
            a(href='developments.html') События
            a(href='contacts.html') Контакты
        .chapter
            p  Открытие нашего магазина
        .grid-img
            .slideshow-container
                link(rel='stylesheet', type='text/css', href='./style/SliderForDevelop.css')
                .mySlides.fade
                    img(src='./img/open/03.jpg', style='width:100%', alt='')
                .mySlides.fade
                    img(src='./img/open/04.jpg', style='width:100%', alt='')
                .mySlides.fade
                    img(src='./img/open/05.jpg', style='width:100%', alt='')
                .mySlides.fade
                    img(src='./img/open/06.jpg', style='width:100%', alt='')
                .mySlides.fade
                    img(src='./img/open/08.jpg', style='width:100%', alt='')
                .mySlides.fade
                    img(src='./img/open/09.jpg', style='width:100%', alt='')
                .mySlides.fade
                    img(src='./img/open/10.jpg', style='width:100%', alt='')
                .mySlides.fade
                    img(src='./img/open/11.jpg', style='width:100%', alt='')
                .mySlides.fade
                    img(src='./img/open/12.jpg', style='width:100%', alt='')
                .mySlides.fade
                    img(src='./img/open/13.jpg', style='width:100%', alt='')
                .mySlides.fade
                    img(src='./img/open/14.jpg', style='width:100%', alt='')
                .mySlides.fade
                    img(src='./img/open/15.jpg', style='width:100%', alt='')
                .mySlides.fade
                    img(src='./img/open/16.jpg', style='width:100%', alt='')
                .mySlides.fade
                    img(src='./img/open/17.jpg', style='width:100%', alt='')
                .mySlides.fade
                    img(src='./img/open/19.jpg', style='width:100%', alt='')
                .mySlides.fade
                    img(src='./img/open/20.jpg', style='width:100%', alt='')
                .mySlides.fade
                    img(src='./img/open/24.jpg', style='width:100%', alt='')
                a.prev(onclick='plusSlides(-1)') ❮
                a.next(onclick='plusSlides(1)') ❯
                div(style='text-align:center')
                    span.dot(onclick='currentSlide(1)')
                    span.dot(onclick='currentSlide(2)')
                    span.dot(onclick='currentSlide(3)')
                    span.dot(onclick='currentSlide(4)')
                    span.dot(onclick='currentSlide(5)')
                    span.dot(onclick='currentSlide(6)')
                br
            .grid-th
                img(src='./img/pro_0.png', alt='', style='width: 80%;')
        .footer
            img(src='./img/img_2.png', alt='')
            p.text
                | Винная крама Вино Ви
                br
                |         Адрес
                br
                |         Гродно ул. малая троицкая, д. 12
                br
            p.text
                | Телефон
                br
                |         8 029 8444 552
                br
        .link
            a(href='')
                img(src='./img/insta.png', alt='')
            a(href='')
                img(src='./img/face.png', alt='')
            a(href='')
                img(src='./img/tvit.png', alt='')
            a(href='')
                img(src='./img/veber.png', alt='')
        script(src='./js/SliderForDevelops.js')
        script(type='text/javascript', src='./js/ForHeader.js')
