doctype html
html xmlns:http="http://www.w3.org/1999/xhtml" xmlns:http="http://www.w3.org/1999/xhtml"(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='./style/HeaderAndButton.css')
        link(rel='stylesheet', type='text/css', href='./style/MenuForBottles.css')
        link(rel='stylesheet', type='text/css', href='./style/ForFooter.css')
        title Vino W
    body
        button#myBtn(onclick='topFunction()', title='Go to top') Top
        .header
            a(href='index.html') О нас
            a(href='menu.html') Карта вин
            a(href='index.html')
                img(http://Localhost:3000./img/img01.jpg,)
            a(href='developments.html') События
            a(href='contacts.html') Контакты
        .chapter
            h1 Карта вин
        .container
            .items
                img(src='./img/img_1.2.png', alt='')
                p
                    | Manzanilla
                    br
                    | 60.00 byn
                    br
                    | Вкус сухой, мягкий, бархатистый,цветочный.
                    br
                    | сорт sangiovese 95, canaiolo 5. регион табаско
                hr
                p(style='color: black') 750 мл
            .items
                img(src='./img/img_1.3.png', alt='')
                p
                    | Fino
                    br
                    | 75.00 byn
                    br
                    | Вкус ягодный,цветочный, пряный
                    br
                    | регион опулия
                hr
                p(style='color: black') 750 мл
            .items
                img(src='./img/img_1.6.png', alt='')
                p
                    | Amontillado
                    br
                    | 64.00 byn
                    br
                    | Вкус сухой, полный, крепкий и бархатистый.
                    br
                    | сорт монтепульчано 90 100 регион терамо
                hr
                p(style='color: black') 750 мл
        .container
            .items
                img(src='./img/img_1.4.png', alt='')
                p
                    | Medium
                    br
                    | 77.00 byn
                    br
                    | Вкус оттенки сладких темных фруктов, трав и специй.
                    br
                    | сорт гарнача, регион вальдепеньяс
                hr
                p(style='color: black') 750 мл
            .items
                img(src='./img/img_1.5.png', alt='')
                p
                    | Cream
                    br
                    | 75.00 byn
                    br
                    | Вкус свежий,цитрусовый,
                    br
                    | с кислинкой в кофейногранатовом послевкусии.
                    br
                    | регион каталония, пенедекс
                hr
                p(style='color: black') 750 мл
            .items
                img(src='./img/img_1.6.png', alt='')
                p
                    | Oloroso
                    br
                    | 65.00 byn
                    br
                    | Вкус фруктовый, оттенки ананаса и цитрусов.
                    br
                    | сорт совиньон блан, регион лангедокруссийон
                hr
                p(style='color: black') 750 мл
        .container
            .items
                img(src='./img/img_1.7.png', alt='')
                p
                    | Medium
                    br
                    | 77.00 byn
                    br
                    | Вкус оттенки сладких темных фруктов,
                    br
                    | трав и специй,  регион вальдепеньянс
                    br
                    | сорт гарнача.
                hr
                p(style='color: black') 750 мл
            .items
                img(src='./img/img_1.8.png', alt='')
                p
                    | Cream
                    br
                    | 75.00 byn
                    br
                    | Вкус сухой, мягкий, бархатистый,цветочный.
                    br
                    | сорт canaiolo 5. регион табаско
                hr
                p(style='color: black') 750 мл
            .items
                img(src='./img/img_1.9.png', alt='')
                p
                    | Oloroso
                    br
                    | 65.00 byn
                    br
                    | Вкус фруктовый, цветочный.
                    br
                    | сорт совиньон блан, регион пенедекс
                hr
                p(style='color: black') 750 мл
        .footer
            img(src='./img/img_2.png', alt='')
            p.text
                | Винная крама Вино Ви
                br
                |         Адрес
                br
                |         Гродно ул. малая троицкая, д. 12
                br
            p.text
                | Телефон
                br
                |         8 029 8444 552
                br
        .link
            a(href='')
                img(src='./img/insta.png', alt='')
            a(href='')
                img(src='./img/face.png', alt='')
            a(href='')
                img(src='./img/tvit.png', alt='')
            a(href='')
                img(src='./img/veber.png', alt='')
        script(type='text/javascript', src='./js/ForHeader.js')
